<div>
  <span>PreviousComponent</span>
  <div>{{pageEvent.pageIndex-1}}</div>
</div>

<div>
  <span>currentComponent</span>
  <div>page: {{pageEvent.pageIndex}}</div>
</div>

<div>
  <span>Nextcomponent</span>
  <div>{{pageEvent.pageIndex+1}}</div>
</div>

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page">
</mat-paginator>

<div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div>
